In [10]:
import pandas as pd
import numpy as np

In [11]:
df_rom = pd.read_csv('sourceData/SSD_HDD_benchmarks_v9.csv')
df_rom

,driveName,type,diskCapacity,diskMark,rank,price,driveValue,priceperGB,testDate,samples
0,NVMe WDS500G1X0E-00AFY0,SSD,465.8,52280,1,NaN,NaN,NaN,2022,5
1,Seagate FireCuda 530 ZP4000GM30023,SSD,3600.0,52066,2,NaN,NaN,NaN,2021,13
2,KINGSTON SKC3000S1024G,SSD,953.9,49829,3,NaN,NaN,NaN,2021,42
3,NVMe Samsung 980 PRO with Heatsink 2TB,SSD,1800.0,49517,4,NaN,NaN,NaN,2021,8
4,KINGSTON SFYRD2000G,SSD,1800.0,48995,5,NaN,NaN,NaN,2021,33
...,...,...,...,...,...,...,...,...,...,...
8922,SanDisk pSSD-P2 32GB,SSD,24.8,96,8923,NaN,NaN,NaN,2009,1
8923,IBM IC25N030ATCS04-0,HDD,27.9,96,8924,NaN,NaN,NaN,2009,8
8924,TOSHIBA MK3008GAL,HDD,27.9,94,8925,68.06,1.38,2.44,2013,5
8925,IBM IC25N020ATCS04-0,HDD,18.6,92,8926,NaN,NaN,NaN,2009,10
8926,SSDPAMM0008G1,SSD,7.4,89,8927,NaN,NaN,NaN,2009,1

In [12]:
df_rom = df_rom[~np.isnan(df_rom['price'])]
df_rom.shape

(2079, 10)

In [13]:
df_rom = df_rom.drop(columns=['samples'])

In [14]:
df_rom

,driveName,type,diskCapacity,diskMark,rank,price,driveValue,priceperGB,testDate
5,WDC PC SN810 SDCPNRY-1T00,SSD,953.9,48300,6,209.00,231.10,0.22,2021
8,Samsung 980 PRO with Heatsink 2TB,SSD,1800.0,47600,9,319.99,148.75,0.18,2021
28,Samsung 980 PRO with Heatsink 1TB,SSD,931.5,41833,29,179.99,232.42,0.19,2021
31,MSI M480 2TB,SSD,1800.0,41506,32,329.99,125.78,0.18,2021
36,WD BLACK SN850 2TB,SSD,1800.0,40602,37,419.99,96.67,0.23,2020
...,...,...,...,...,...,...,...,...,...
8902,QUANTUM FIREBALLlct20 40,HDD,12.8,124,8903,69.95,1.77,5.46,2009
8909,WDC WD200EB,HDD,9.8,120,8910,63.96,1.88,6.53,2009
8912,Hitachi HTC426040G9AT00,HDD,37.3,116,8913,16.00,7.25,0.43,2009
8916,TOSHIBA MK6006GAH,HDD,41.2,112,8917,23.99,4.67,0.58,2009
8924,TOSHIBA MK3008GAL,HDD,27.9,94,8925,68.06,1.38,2.44,2013

In [15]:
for price in range(len(df_rom['price'].values)):
    df_rom['price'].values[price] = round(df_rom['price'].values[price] * 80, 2)

In [16]:
df_rom.to_csv('data/ROM.csv')