In [35]:
import pandas as pd
import numpy as np

In [36]:
df_gpu = pd.read_csv('../sourceData/GPU_benchmarks_v7.csv')
df_gpu

,gpuName,G3Dmark,G2Dmark,price,gpuValue,TDP,powerPerformance,testDate,category
0,GeForce RTX 3090 Ti,29094,1117,2099.99,13.85,450.0,64.65,2022,Unknown
1,GeForce RTX 3080 Ti,26887,1031,1199.99,22.41,350.0,76.82,2021,Desktop
2,GeForce RTX 3090,26395,999,1749.99,15.08,350.0,75.41,2020,Desktop
3,Radeon RX 6900 XT,25458,1102,1120.31,22.72,300.0,84.86,2020,Desktop
4,GeForce RTX 3080,24853,1003,999.00,24.88,320.0,77.66,2020,Desktop
...,...,...,...,...,...,...,...,...,...
2312,Intel 82852/82855 GM/GME Controller,1,107,NaN,NaN,NaN,NaN,2010,Unknown
2313,Quadro2 Pro,1,143,NaN,NaN,NaN,NaN,2009,Workstation
2314,Rage 128 Pro,1,40,NaN,NaN,NaN,NaN,2009,Unknown
2315,RAGE 128 PRO AGP 4X TMDS,1,142,NaN,NaN,NaN,NaN,2009,Unknown
2316,S3 ProSavageDDR,1,41,NaN,NaN,NaN,NaN,2009,Unknown

In [37]:
df_gpu = df_gpu[~np.isnan(df_gpu['price'])]
df_gpu.shape

(553, 9)

In [38]:
df_gpu

,gpuName,G3Dmark,G2Dmark,price,gpuValue,TDP,powerPerformance,testDate,category
0,GeForce RTX 3090 Ti,29094,1117,2099.99,13.85,450.0,64.65,2022,Unknown
1,GeForce RTX 3080 Ti,26887,1031,1199.99,22.41,350.0,76.82,2021,Desktop
2,GeForce RTX 3090,26395,999,1749.99,15.08,350.0,75.41,2020,Desktop
3,Radeon RX 6900 XT,25458,1102,1120.31,22.72,300.0,84.86,2020,Desktop
4,GeForce RTX 3080,24853,1003,999.00,24.88,320.0,77.66,2020,Desktop
...,...,...,...,...,...,...,...,...,...
2277,Matrox Parhelia 128MB,3,107,393.99,0.01,NaN,NaN,2009,Unknown
2282,RADEON 7200,3,94,599.99,0.00,NaN,NaN,2011,Unknown
2283,RADEON 7500,3,35,177.25,0.02,NaN,NaN,2012,Desktop
2287,RADEON 9250,3,127,194.00,0.01,NaN,NaN,2009,Desktop
2298,Dell 8100,2,58,999.11,0.00,NaN,NaN,2012,Unknown

In [39]:
df_gpu = df_gpu.drop(columns=['powerPerformance'])

In [40]:
df_gpu

,gpuName,G3Dmark,G2Dmark,price,gpuValue,TDP,testDate,category
0,GeForce RTX 3090 Ti,29094,1117,2099.99,13.85,450.0,2022,Unknown
1,GeForce RTX 3080 Ti,26887,1031,1199.99,22.41,350.0,2021,Desktop
2,GeForce RTX 3090,26395,999,1749.99,15.08,350.0,2020,Desktop
3,Radeon RX 6900 XT,25458,1102,1120.31,22.72,300.0,2020,Desktop
4,GeForce RTX 3080,24853,1003,999.00,24.88,320.0,2020,Desktop
...,...,...,...,...,...,...,...,...
2277,Matrox Parhelia 128MB,3,107,393.99,0.01,NaN,2009,Unknown
2282,RADEON 7200,3,94,599.99,0.00,NaN,2011,Unknown
2283,RADEON 7500,3,35,177.25,0.02,NaN,2012,Desktop
2287,RADEON 9250,3,127,194.00,0.01,NaN,2009,Desktop
2298,Dell 8100,2,58,999.11,0.00,NaN,2012,Unknown

In [41]:
for price in range(len(df_gpu['price'].values)):
    df_gpu['price'].values[price] = round(df_gpu['price'].values[price] * 80, 2)

In [42]:
tmp = []
nvidia = ['GeForce', 'Quadro', 'ION', 'NVS', 'Tesla']
for i in range(len(df_gpu['gpuName'].values)):
    #if nvidia in df_gpu['gpuName'].values[i]:
    if any(j in df_gpu['gpuName'].values[i] for j in nvidia):
        tmp.append('NVIDIA')
    else:
        tmp.append('AMD')
df_gpu['brnd'] = tmp
df_gpu.head()

,gpuName,G3Dmark,G2Dmark,price,gpuValue,TDP,testDate,category,brnd
0,GeForce RTX 3090 Ti,29094,1117,167999.2,13.85,450.0,2022,Unknown,NVIDIA
1,GeForce RTX 3080 Ti,26887,1031,95999.2,22.41,350.0,2021,Desktop,NVIDIA
2,GeForce RTX 3090,26395,999,139999.2,15.08,350.0,2020,Desktop,NVIDIA
3,Radeon RX 6900 XT,25458,1102,89624.8,22.72,300.0,2020,Desktop,AMD
4,GeForce RTX 3080,24853,1003,79920.0,24.88,320.0,2020,Desktop,NVIDIA

In [43]:
df_gpu.to_csv('../data/GPU.csv')